<!--<h1>ダイレクトメッセージ</h1>-->

<div class="container chats">
  <div id="messages">
  <%= render "message", messages:@messages %>
  </div>

  <div class="row posts mt-3">
    <div class="col-5 mx-auto text-right form-group" id="message">
      <%= form_with model: @message,local:false do |f| %>
        <%= f.text_area :comment,class:"form-control", style: "width: 95%", id:"message_field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "送信",class: "form-submit" %>
      <% end %>
    </div>
  </div>
</div>